In [1]:
import pandas as pd
import numpy as np 
import ast
import os 
import sys
sys.path.append(os.path.expanduser('~/soderlinglab/utils'))

In [11]:
file = '/hpc/group/soderlinglab/user/pooja/projects/Biotin/data/Biotin_protein_data_detailed.csv'
df = pd.read_csv(file)
df = df.drop(columns=[x for x in df.columns if any(x.startswith(y) for y in ['Unnamed', 'EC', 'IC', 'Order'])])
df['BiotinPosition'] = df['BiotinPosition'].apply(eval)

In [12]:
af = pd.read_csv(f'~/soderlinglab/user/pooja/projects/Biotin/data/train-val-test/train.csv')
af.groupby('BiotinPosition')
af['BiotinPosition'] = af['BiotinPosition'].apply(ast.literal_eval)
af[af['BiotinPosition'].apply(len) <=1]

Empty DataFrame
Columns: [Accession, Gene Name, BiotinPosition, Extracellular, Intracellular, EC, IC, BiotinInExtracellular, BiotinInIntracellular, Order, seq]
Index: []

In [19]:
pad_token='<pad>'
maxlen = df['seq'].str.len().max()
seqlens = df['seq'].str.len().value_counts().sort_index()
seqlens

seq
51.0       1
64.0       1
68.0       1
75.0       2
78.0       2
          ..
6874.0     1
7354.0     1
7393.0     1
8799.0     1
35213.0    1
Name: count, Length: 1257, dtype: int64

In [28]:
## len of positives
positives = df['BiotinPosition'].apply(len).sum()
print(f'Num of Positives: {positives}')
## len of negatives
nLysines = df['seq'].str.count('K').sum()
print(f'Num of negatives {totalLysines - positives}')
print(f'total Lysines: {(nLysines)}')

Num of Positives: 13183
Num of negatives 110807.0
total Lysines: 123990.0

In [29]:
df.head()

,Accession,Gene Name,BiotinPosition,Extracellular,Intracellular,BiotinInExtracellular,BiotinInIntracellular,seq
0,Q60625,Icam5,"[531.0, 531.0]","[32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 4...","[896, 897, 898, 899, 900, 901, 902, 903, 904, ...",True,False,MPGPSPGLRRALLGLWAALGLGILGISAVALEPFWADLQPRVALVE...
1,Q6PDJ1,Cachd1,[640.0],"[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 6...","[1131, 1132, 1133, 1134, 1135, 1136, 1137, 113...",True,False,MAREPEEEETVRPAAVVRRCPRCPGWPGAPRPPLWLLCLVACWILG...
2,Q8K377,Lrrtm1,"[162.0, 188.0]","[35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 4...","[512, 513, 514, 515, 516, 517, 518, 519, 520, ...",True,False,MDFLLLGLCLHWLLRRPSGVVLCLLGACFQMLPAAPSGCPGQCRCE...
3,Q99N28,Cadm3,"[119.0, 119.0, 130.0, 137.0, 137.0, 137.0, 165...","[23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 3...","[384, 385, 386, 387, 388, 389, 390, 391, 392, ...",True,False,MGAPSALPLLLLLACSWAPGGANLSQDDSQPWTSDETVVAGGTVVL...
4,Q9D7N9,Apmap,"[178.0, 210.0]","[61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 7...","[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1...",True,False,MSEADGLRQRRPLRPQVVTDDGQVPEVKEGSSFSGRVFRMTFLMLA...